rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth.token.admin == true;
    }

    match /locations/{location} {
    	allow read: if true;
    }

    match /trips/{trip} {
    	allow read, update: if true;
    }

    match /transactions/{transaction} {
      allow create: if true;
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /users/{user} {
      allow write: if true;
      allow read: if request.auth != null && request.auth.uid == resource.id;
    }
  }
}